.section4-container {
    width           : 100%;
    background-color: #f4eef5;
    background-image: linear-gradient(#f4eef5, #fff);
    padding-top     : 10%;

    .header-group {
        display       : flex;
        flex-direction: column;

        .header-1 {
            text-align : center;
            color      : #ff6f61;
            font-size  : 18px;
            font-weight: 600;

        }

        .header-2 {
            text-align : center;
            font-size  : 34px;
            font-weight: 1000;
        }
    }

    .card-group {
        display        : flex;
        flex-direction : row;
        margin-top     : 5%;
        align-items    : center;
        justify-content: center;
        gap            : 3%;

        .card {
            width          : 25%;
            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: center;


            .card-image {
                .img {
                    border-radius: 100px;
                }
            }

            .title {
                font-size  : 23px;
                font-weight: 800;
                text-align : center;
                margin-top : 50px;
            }

            .detail {
                margin-top : 30px;
                text-align : center;
                font-size  : 17px;
                line-height: 25px;
            }

            button {
                margin-top     : 70px;
                color          : #ff6f61;
                background     : none;
                border         : none;
                font-size      : 20px;
                text-align     : left;
                padding        : 0;
                font-size      : 17px;
                font-weight    : 600;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: center;
                gap            : 7px;
                transition     : all 0.5s;
                cursor         : pointer;

                &:hover {
                    opacity: 0.5;
                }
            }

        }
    }
}