.section3-container {
    width           : 100%;
    display         : flex;
    background-image: linear-gradient(#f4eef5, #fff);
    flex-direction  : column;
    padding         : 5% 0;
    position        : relative;

    h6 {
        font-size : 18px;
        text-align: center;
        color     : #ff6f61;
        margin    : 0 0 10px 0;
    }

    h3 {
        font-weight: 800;
        font-size  : 34px;
        text-align : center;
        margin     : 0;
        line-height: 43px;
    }



    .content-left {
        width  : 100%;
        height : 242px;
        display: flex;

        img {
            position          : absolute;
            animation         : float-img;
            animation-duration: 3s;

        }

    }

    .content-right {
        width                : 100%;
        height               : fit-content;
        display              : flex;
        flex-direction       : column;
        // transition        : 1s all;
        opacity              : 1;
        animation            : animated-opacity;
        animation-duration   : 3s;

        .header {
            font-weight: 800;
            font-size  : 20px;
            margin     : 0;
        }

        .text {
            font-size  : 18px;
            margin-top : 20px;
            text-align : left;
            line-height: 27px;

            .boolean {
                font-weight: 700;
            }
        }

        .group-btn {
            display   : flex;
            gap       : 20px;
            margin-top: 10%;

            button {
                color          : #ff6f61;
                background     : none;
                border         : none;
                font-size      : 18px;
                text-align     : left;
                padding        : 0;
                font-size      : 17px;
                font-weight    : 600;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: center;
                gap            : 7px;
                transition     : all 0.5s;
                cursor         : pointer;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}


@keyframes float-img {
    0% {
        margin-top: 200px;
    }

    100% {
        margin-top: 0;
    }
}