.section7-container {
    width         : 100%;
    height        : fit-content;
    display       : flex;
    flex-direction: column;
    gap           : 20px;

    .header {
        margin-top        : 0;
        font-size         : 35px;
        font-weight       : 800;
        animation-name    : animated-opacity;
        animation-duration: 2s;
        text-align        : center;
    }
}