.section4-container {
    width           : 100%;
    background-color: #f4eef5;
    background-image: linear-gradient(#f4eef5, #fff);
    padding-top     : 10%;

    .header-group {
        display       : flex;
        flex-direction: column;

        .header-1 {
            text-align        : center;
            color             : #ff6f61;
            font-size         : 18px;
            font-weight       : 600;
            animation-name    : actionSize1;
            animation-duration: 2s;
        }

        .header-2 {
            text-align        : center;
            font-size         : 34px;
            font-weight       : 1000;
            animation-name    : actionSize2;
            animation-duration: 2s;
        }
    }

    .card-group {
        display        : flex;
        flex-direction : row;
        margin-top     : 5%;
        align-items    : center;
        justify-content: center;
        gap            : 3%;

        .card {
            width          : 25%;
            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: center;
            transition     : all 1s;
            position       : relative;

            .card-image {
                .img {
                    border-radius: 100px;
                }

                .icon-box {
                    width           : 100px;
                    height          : 100px;
                    border-radius   : 100px;
                    background-color: white;
                    display         : flex;
                    flex-direction  : row;
                    align-items     : center;
                    justify-content : center;
                    position        : absolute;
                    top             : 0;
                    left            : 12%;

                    &.icon2 {
                        top: 21%
                    }

                    &.icon3 {
                        top : 21%;
                        left: 62%;

                    }

                    &.icon4 {
                        width     : 40px;
                        height    : 40px;
                        left      : -10%;
                        box-shadow: 0 0 4px 4px #27110f1a;
                    }

                    .icon {}
                }
            }

            .title {
                font-size  : 23px;
                font-weight: 800;
                text-align : center;
                margin-top : 50px;
            }

            .detail {
                margin-top : 30px;
                text-align : center;
                font-size  : 17px;
                line-height: 25px;
            }

            button {
                margin-top     : 70px;
                color          : #ff6f61;
                background     : none;
                border         : none;
                font-size      : 20px;
                text-align     : left;
                padding        : 0;
                font-size      : 17px;
                font-weight    : 600;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: center;
                gap            : 7px;
                transition     : all 0.5s;
                cursor         : pointer;

                &:hover {
                    opacity: 0.5;
                }
            }

        }
    }
}

@keyframes actionSize1 {
    0% {
        font-size: 0px;
    }

    100% {
        font-size: 18px;
    }
}

@keyframes actionSize2 {
    0% {
        font-size: 0px;
    }

    100% {
        font-size: 34px;
    }
}

@media only screen and (max-width: 600px) {
    .section4-container .card-group {
        display       : flex;
        flex-direction: column;
        gap           : 50px;
    }

    .section4-container .card-group .card {
        width: 100%;
    }
}