.home-section-container {
    width: 100%;

    &.section1 {
        margin-top: 15%;
        min-height: 200px;
        height    : fit-content;
        margin-top: 10%;

    }

    &.section2 {
        margin-top   : 15%;
        min-height   : 200px;
        height       : fit-content;
        margin-bottom: 300px;

    }

    &.section3 {
        margin-top      : 15%;
        min-height      : 200px;
        height          : fit-content;
        background-image: linear-gradient(#f4eef5, #fff);
        margin-bottom   : 300px;
    }

    &.section4 {
        min-height   : 200px;
        height       : fit-content;
        margin-bottom: 300px;
    }
}