.home-section-container {
    width         : 100%;
    // height     : 200px;
    margin-top    : 10%;

    &.section2 {
        margin-top   : 15%;
        min-height   : 200px;
        height       : fit-content;
        margin-bottom: 300px;
    }

    &.section3 {
        margin-top   : 15%;
        min-height   : 200px;
        height       : fit-content;
        margin-bottom: 300px;
    }

    &.section4 {
        margin-top   : 15%;
        min-height   : 200px;
        height       : fit-content;
        margin-bottom: 300px;
    }
}